{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

		<form class="" enctype="multipart/form-data" action="post_url/" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" name="" value="submit"/>
		</form>
	</div>


{% endblock %}
