{% load staticfiles %}

<!doctype html>
<html lang="en">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
 content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<!-- <link rel="stylesheet"
 href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.css"> -->
 <link rel="stylesheet" href="{% static 'bootstrap.css' %}">
 <link rel="stylesheet" href="{% static 'style.css' %}">


<title>Ipl teams</title>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #563d7c;color:#fff">
    <a class="navbar-brand" href="/">IplTeams</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <!-- <li class="nav-item active">
          <a class="nav-link" href="add_player/">Add Players <span class="sr-only">(current)</span></a>
        </li> -->
        <!-- <li class="nav-item active">
          <a class="nav-link" href="login/">Login <span class="sr-only">(current)</span></a>
        </li> -->

        <li class="nav-item active">
        {% if user.is_authenticated %}
        <a class="nav-link" href ="{% url 'profile' user.username %}"> {{user.username}} </a>
        <a class="nav-link" href="{% url 'logout' %}"> Logout </a>
        {% else %}
        <a class="nav-link" href="{% url 'login' %}"> Login </a>
        {% endif %}
      </li>
      </ul>
    </div>
  </nav>
 <div class="jumbotron">
   <div class="container-fluid">
     <h1 class="lead">IPL - TEAM 2018</h1>
   </div>
 </div>

 {% block content %}
 {% endblock %}

 <!-- Optional JavaScript -->
 <!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="{% static 'jquery-3.3.1.js' %}"></script>
<script src="{% static 'main.js' %}"></script>

 <script
   src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"
   integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
   crossorigin="anonymous" type="text/javascript"></script>
</body>
</html>
