
{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

	<div class="container">



   <div class="row">
		 <div class="col-sm-6">
			 <img src="{{teams.teamImage.url}}"
				 alt="Card image cap">
		 </div>
		 <div class="col-sm-6 text-center">
			 <div class="team-data">
				 <h4 class="lead">{{teams.team_name}}</h4>
					<h4 class="lead">Captain : {{teams.team_captain | upper}}</h4>

			 </div>
			 <br/>
			 <button id="likes" data-id="{{team.id}}"
		 					class="btn btn-mini btn-danger text-center"
		 					type="button">
		 				Like {% if team.likes > 0 %} {{team.likes}} {% endif %}
		 	</button>

			 </div>
		 </div>
	 </div>

{% endblock %}
