{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

	<!-- Team List from Django -->
	<div class="container">
		<div class="row card-columns">
			{% for team in teams %}
			<div class="col-sm-3">

<a href="/{{team.id}}/">
				<div class="card">
					<div class="card-header text-center">{{team.team_name}}
						<br/>
					<a href="/user/{{team.user.username}}">
 						 by : {{team.user.username}}
					</a>
					</div>
				<div class="card-body text-center">
					<img class="card-img-top" src="{{team.teamImage.url}}"
						alt="Card image cap">
					<br/>
					<br/>
					<br/>
					<button id="likes" data-id="{{team.id}}"
									class="btn btn-mini btn-danger text-center"
									type="button">
								Like {% if team.likes > 0 %} {{team.likes}} {% endif %}
					</button>
				</div>
			</div>
			</a>
			</div>


			{% endfor %}
		</div>

		<!--Add form-->

		<!-- <form class="" enctype="multipart/form-data" action="post_url/" method="post">
			{% csrf_token %}
			{{ form.as_p }}
			<input type="submit" name="" value="submit"/>
		</form> -->
	</div>


{% endblock %}
