{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}

<div class="container">
  <form class="" enctype="" action="." method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" name="" value="submit"/>
  </form>

</div>



{% endblock %}
